Django==5.1.5
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
domain-coordinator==0.10.0
example-interfaces==0.9.3
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dotenv==1.0.1
python-qt-binding==1.1.2
pytz==2024.2
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
quality-of-service-demo-py==0.20.5



